/*-------------Second_section_main------start*/
.third_section_main {
  .article {
    h2 {
      width: 75%;
      margin: 0 auto;
      color: #000;
      font-size: calc(1.4rem + 1vw);
      font-weight: 900;
      margin-bottom: 20px;
      &:before {
        background: url(../img/logo_red.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
      strong {
        color: #fa4f01;
      }
    }
  }
}
.section_white_text {
  font-size: 1.4rem;
  margin-bottom: 15px;
}
.third_section {
  display: flex;
  margin: 95px 0 64px 0;
  justify-content: center;
  .third_section_block {
    width: 30%;
    border-radius: 10px;
    position: relative;
    padding: 85px 0 36px 0;
    &:nth-of-type(1) {
      border: 4px solid #f64d01;
      &::before {
        content: "";
        background: url(../img/ointment.png);
        display: block;
        width: 105px;
        height: 65px;
        position: absolute;
        top: -14%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        z-index: 5;
      }
    }
    &:nth-of-type(2) {
      margin: 0 27px;
      border: 4px solid #f64d01;
      &::before {
        content: "";
        background: url(../img/means.png);
        display: block;
        width: 160px;
        height: 105px;
        position: absolute;
        top: -23%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        z-index: 5;
      }
    }
    &:nth-of-type(3) {
      border: 4px solid #62bd1f;
      &::before {
        content: "";
        background: url(../img/package.png), linear-gradient(#fff 0%, #fff 100%);
        display: block;
        width: 80px;
        height: 56px;
        position: absolute;
        top: -12%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        padding: 0 3px 0 5px;
        z-index: 5;
      }
    }
  }
}
.third_section_block {
  svg {
    height: 50px;
    position: absolute;
    top: -4.2px;
    left: 0;
  }
}
.third_section_block_text {
  font-size: 1.1rem;
  line-height: 26px;
  padding: 0 31px;
  b {
    color: #000;
    font-weight: 500;
  }
}
.third_section_bottom {
  border: 4px solid transparent;
  border-left: 4px solid #f64d01;
  border-right: 4px solid #62bd1f;
  display: flex;
  justify-content: center;
  background: linear-gradient(
    to right,
    #f64d01,
    #dd7600,
    #bc9400,
    #94ab00,
    #62bd1f
  );
  border-radius: 15px;
  width: fit-content;
  padding: 1px;
  margin: 0 auto;
}
.third_section_bottom_text {
  background: #fff;
  color: #000;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 33px 30px 31px 25px;
  border-radius: 10px;
  strong {
    color: #f64d01;
  }
}
@media (max-width: 1200px) {
  .third_section_block {
    svg {
      left: -12%;
    }
  }
  .third_section {
    .third_section_block {
      &:nth-of-type(1),
      &:nth-of-type(3) {
        &::before {
          top: -11%;
        }
      }
      &:nth-of-type(2) {
        &::before {
          top: -19%;
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .third_section_block {
    svg {
      display: none;
    }
  }
  .third_section {
    .third_section_block {
      &:nth-of-type(1),
      &:nth-of-type(3) {
        &::before {
          top: 7%;
          background-size: contain;
        }
      }
      &:nth-of-type(2) {
        &::before {
          top: 0%;
          left: 0;
          background-size: contain;
        }
      }
    }
  }
  .third_section_block_text {
    padding: 5px 10px;
  }
  .third_section {
    .third_section_block {
      padding-top: 130px;
    }
  }
}
@media (max-width: 768px) {
  .third_section_block_text {
    font-size: 1.5vw;
  }
}
@media (max-width: 576px) {
  .third_section {
    flex-direction: column;
    align-items: center;
    .third_section_block {
      width: 80%;
      margin-bottom: 20px !important;
      &:nth-of-type(3) {
        margin-bottom: 0;
      }
    }
  }
  .third_section_main {
    .article {
      h2 {
        width: 100%;
      }
    }
  }
  .third_section_block_text {
    font-size: 4vw;
    line-height: normal;
  }
}

/*-------------Second_section_main------end*/
